
.bg-color-ps{
background-color:#0b0d1787 ;
align-items: center;
li{
   a{ &:hover{
        background-color: rgba(137, 43, 226, 0.174);
    }}
}
 }

.menu-hover{
   &:hover{ background-color: #0b0d17;  } 
}

